<!--추천 여행지 메인 페이지-->
<!--이전에 상속받은 layout.html이 날아옴-->
{% extends 'layout.html' %} 
<!--교체영역1-->
{% block pageTitle %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>부트스트랩 차트그리기</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- 차트 링크 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>

<h1>추천카테고리</h1> 
<div style="width:800px">
    <canvas id="myChart"></canvas>
</div>
<div class="text-center">
<form action = "">
    <h1>{{city}} {{month}}월 인기 여행지</h1>
    <fieldset>
    <select id = "selMonth" class="btn btn-light dropdown-toggle">
     <option value = "1">1</option>
     <option value = "2">2</option>
     <option value = "3">3</option>
     <option value = "4">4</option>
     <option value = "5">5</option>
     <option value = "6">6</option>
     <option value = "7">7</option>
     <option value = "8">8</option>
     <option value = "9">9</option>
     <option value = "10">10</option>
     <option value = "11">11</option>
     <option value = "12">12</option>
    </select>
    <select id = "selLoc" class="btn btn-light dropdown-toggle">
        <option value = "1">서울</option>
        <option value = "2">강원</option>
        <option value = "3">경기</option>
        <option value = "4">경남</option>
        <option value = "5">경북</option>
        <option value = "6">광주</option>
        <option value = "7">대구</option>
        <option value = "8">대전</option>
        <option value = "9">부산</option>
        <option value = "10">세종</option>
        <option value = "11">울산</option>
        <option value = "12">인천</option>
        <option value = "13">전남</option>
        <option value = "14">전북</option>
        <option value = "15">제주</option>
        <option value = "16">충남</option>
        <option value = "17">충북</option>
       </select>
    <input type = "button" class="btn btn-light"
      value = "선택"
      onclick = "GetMonth()" />
    </fieldset>
   </form>
</div>

<div class="container">
    <!-- <div class="row my-3">
        <div class="col-12">
            <h4>Bootstrap 4 Chart.js - Chart</h4>
        </div>
    </div> -->
    <!-- canvas -> 차트가 들어갈 위치 -->
    <div class="row my-2">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body"> <canvas id="myChart1"></canvas> </div>
                <div class="card card-body text-center bg-light">
                    <h3 id="month">{{month}}월</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body"> <canvas id="myChart3"></canvas> </div>
                <div class="card card-body text-center bg-light">
                    <h3 id="kofo">내국인/외국인</h3>
                </div>
            </div>
        </div>
    </div>
</div> <!-- 부트스트랩 -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script> <!-- 차트 -->
<script> 
    function GetMonth(){
    var selMonth = document.getElementById("selMonth");
    var month = selMonth.value;
    var selLoc = document.getElementById("selLoc");
    var loc = selLoc.value;
    //document.getElementById("month").innerHTML = month + '월'
    // 들어온 값, 지역 페이지에 따라 보내기
    location.href ="korea_month_"+month+"+loc_"+loc;
    }

    // app.py에서 넘어온 값 받음. 받을땐 tojson으로
    var array = {{popular_dict|tojson}};
    // 제대로 받았는지 체크
    // document.write(array[0]["gungu"]);
    // document.write(array[0]["name"]);

    // 차트에 표시할 라벨, 데이터 만들기
    var label_array = []
    var data_array = []
    // 내/외국인 합
    var sum_ko = 0
    var sum_fo = 0
    for (var i=0; i<5; i++){
        label_array.push(array[i]["name"]);
        data_array.push(array[i]["total"]);

        sum_ko += array[i]["korean"]
        sum_fo += array[i]["foreigner"]
    }

    data = {
        datasets: [{ backgroundColor: ['red', 'yellow', 'green', 'blue', 'purple'], data: data_array }], // 라벨의 이름이 툴팁처럼 마우스가 근처에 오면 나타남
        labels : label_array
    }; 
    //내/외국인
    data2 = {
        datasets: [{ backgroundColor: ['red', 'blue'], data: [sum_ko, sum_fo] }], // 라벨의 이름이 툴팁처럼 마우스가 근처에 오면 나타남
        labels : ["내국인", "외국인"]
    }; 
    // 가운데 구멍이 없는 파이형 차트 
    var ctx1 = document.getElementById("myChart1"); var myMonthChart = new Chart(ctx1, { type: 'doughnut', data: data, options: {} }); 
    var ctx3 = document.getElementById("myChart3"); var myKoFoChart = new Chart(ctx3, { type: 'doughnut', data: data2, options: {} });
</script>


{% endblock %} 
<!--교체영역2-->
{% block contents %}
About Page Area
<h3>월별, 연도별 인기 관광지 상세정보--</h3>
{% endblock %}
