<style>
    /* 글씨체 지정 */
    @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&family=Noto+Sans+KR:wght@700&display=swap');
    .title{
        font-size: 35px;
        text-align: center;
        font-family: 'Noto Sans KR', sans-serif;
        padding: 20px;
    }
    .reMenu{
      font-family: 'Nanum Gothic Coding', monospace;
    }

</style>
<!-- jquery -->
<script src="http://code.jquery.com/jquery-3.1.1.js"></script>
<!-- btn클릭하면 기존 데이터 지우고 데이터 append -->
<script>
    // var selMonth = document.getElementById("selMonth");
    // var month = selMonth.value;
    // var selLoc = document.getElementById("selLoc");
    // var loc = selLoc.value;
    // // 들어온 값, 지역 페이지에 따라 보내기
    // location.href ="korea_month_"+month+"+loc_"+loc;

     $(document).ready(function () {
        $('#btn1').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_month_1' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn2').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_month_2' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn3').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_month_3' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn4').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_month_4' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn5').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_month_5' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn6').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_month_6' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn7').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_month_7' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn8').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_month_8' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn9').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_month_9' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn10').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_month_10' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn11').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_month_11' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn12').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_month_12' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        // $('#btn20').click(function(){
        //     $('#adIframe').empty();
        //     $('#adIframe').append("<p><iframe src='/korea_month_12+loc_1' style='width: 100%; height:600px; border:none'></iframe></p>");
        // })
        // $('#btn21').click(function(){
        //     $('#adIframe').empty();
        //     $('#adIframe').append("<p><iframe src='/korea_month_12+loc_1' style='width: 100%; height:600px; border:none'></iframe></p>");
        // })

        //지역 커서이동
        $('#btn21').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_nation_seoul' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn22').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_nation_busan' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn23').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_nation_chungbuk' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn24').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_nation_chungnam' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn25').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_nation_daegu' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn26').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_nation_daejeon' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn27').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_nation_gangwon' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn28').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_nation_gwangju' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn29').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_nation_gyeongbuk' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn30').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_nation_gyeongnam' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn31').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_nation_gyeonggi' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn32').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_nation_incheon' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn33').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_nation_jeju' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn34').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_nation_jeonbuk' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn35').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_nation_jeonnam' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn36').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_nation_sejong' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn37').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_nation_ulsan' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
    })
</script>

<!--첫 시작 페이지-->
<!--이전에 상속받은 layout.html이 날아옴-->
{% extends 'layout.html' %} 
<!--교체영역1-->
{% block pageTitle %}
<!-- 해외여행 타이틀 -->
<div class='title'>국내 여행지 추천서비스</div>
{% endblock %} 

{% block contents %}
<!-- 추천 목록 -->
<ul class="nav justify-content-end">
    <li class="nav-item dropdown reMenu">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" style="color: black;">월별</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" id='btn1'>1월</a>
        <a class="dropdown-item" id='btn2'>2월</a>
        <a class="dropdown-item" id='btn3'>3월</a>
        <a class="dropdown-item" id='btn4'>4월</a>
        <a class="dropdown-item" id='btn5'>5월</a>
        <a class="dropdown-item" id='btn6'>6월</a>
        <a class="dropdown-item" id='btn7'>7월</a>
        <a class="dropdown-item" id='btn8'>8월</a>
        <a class="dropdown-item" id='btn9'>9월</a>
        <a class="dropdown-item" id='btn10'>10월</a>
        <a class="dropdown-item" id='btn11'>11월</a>
        <a class="dropdown-item" id='btn12'>12월</a>
      </div>
    </li>
        <li class="nav-item dropdown reMenu">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" style="color: black;">지역별</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" id='btn21'>서울</a>
          <a class="dropdown-item" id='btn22'>부산</a>
          <a class="dropdown-item" id='btn23'>충북</a>
          <a class="dropdown-item" id='btn24'>충남</a>
          <a class="dropdown-item" id='btn25'>대구</a>
          <a class="dropdown-item" id='btn26'>대전</a>
          <a class="dropdown-item" id='btn27'>강원</a>
          <a class="dropdown-item" id='btn28'>광주</a>
          <a class="dropdown-item" id='btn29'>경북</a>
          <a class="dropdown-item" id='btn30'>경남</a>
          <a class="dropdown-item" id='btn31'>경기</a>
          <a class="dropdown-item" id='btn32'>인천</a>
          <a class="dropdown-item" id='btn33'>제주</a>
          <a class="dropdown-item" id='btn34'>전북</a>
          <a class="dropdown-item" id='btn35'>전남</a>
          <a class="dropdown-item" id='btn36'>세종</a>
          <a class="dropdown-item" id='btn37'>울산</a>
        </div>
      </li> 
  </ul>

  <hr>

 <!-- 월별 추천 iframe 위치 지정 -->
 <div id="adIframe"><p><iframe src='/korea_month_8' style='width: 100%; height:600px; border:none'></iframe></p></div> 
{% endblock %}
