<style>
    /* 글씨체 지정 */
    @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&family=Noto+Sans+KR:wght@700&display=swap');
    .title{
        font-size: 35px;
        text-align: center;
        font-family: 'Noto Sans KR', sans-serif;
        padding: 20px;
    }
    .reMenu{
      font-family: 'Nanum Gothic Coding', monospace;
    }

</style>
<!-- jquery -->
<script src="http://code.jquery.com/jquery-3.1.1.js"></script>
<!-- btn클릭하면 기존 데이터 지우고 데이터 append -->
<script>
    // var selMonth = document.getElementById("selMonth");
    // var month = selMonth.value;
    // var selLoc = document.getElementById("selLoc");
    // var loc = selLoc.value;
    // // 들어온 값, 지역 페이지에 따라 보내기
    // location.href ="korea_month_"+month+"+loc_"+loc;

     $(document).ready(function () {
        $('#btn1').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_month_1+loc_1' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn2').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_month_2+loc_1' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn3').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_month_3+loc_1' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn4').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_month_4+loc_1' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn5').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_month_5+loc_1' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn6').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_month_6+loc_1' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn7').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_month_7+loc_1' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn8').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/korea_month_'+1+'+loc_1' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn9').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/month_1' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn10').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/month_2' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn11').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/month_1' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn12').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/month_2' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#recommend').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/test' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#recommend2').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/test' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
    })
</script>

<!--첫 시작 페이지-->
<!--이전에 상속받은 layout.html이 날아옴-->
{% extends 'layout.html' %} 
<!--교체영역1-->
{% block pageTitle %}
<!-- 해외여행 타이틀 -->
<div class='title'>국내 여행지 추천서비스</div>
{% endblock %} 

{% block contents %}
<!-- 추천 목록 -->
<ul class="nav justify-content-end">
    <li class="nav-item dropdown reMenu">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" style="color: black;">월별 여행지 추천</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" id='btn1'>1월</a>
        <a class="dropdown-item" id='btn2'>2월</a>
        <a class="dropdown-item" id='btn3'>3월</a>
        <a class="dropdown-item" id='btn4'>4월</a>
        <a class="dropdown-item" id='btn5'>5월</a>
        <a class="dropdown-item" id='btn6'>6월</a>
        <a class="dropdown-item" id='btn7'>7월</a>
        <a class="dropdown-item" id='btn8'>8월</a>
        <a class="dropdown-item" id='btn9'>9월</a>
        <a class="dropdown-item" id='btn10'>10월</a>
        <a class="dropdown-item" id='btn11'>11월</a>
        <a class="dropdown-item" id='btn12'>12월</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link reMenu" id="recommend">추천</a>
    </li>
    <li class="nav-item">
      <a class="nav-link reMenu" id="recommend2">추천2</a>
    </li>
  </ul>

  <hr>

 <!-- 월별 추천 iframe 위치 지정 -->
 <div id="adIframe"><p><iframe src='/korea_month_8+loc_1' style='width: 100%; height:600px; border:none'></iframe></p></div> 
  
{% endblock %}
