<style>
    /* 글씨체 지정 */
    @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
    .title{
        font-size: 40px;
        text-align: center;
        font-family: 'Do Hyeon', sans-serif;
        padding: 20px;
    }
    .btn btn-outline-dark{
        text-align: center;
    }

</style>
<!-- jquery -->
<script src="http://code.jquery.com/jquery-3.1.1.js"></script>
<!-- btn클릭하면 기존 데이터 지우고 데이터 append -->
<script>
     $(document).ready(function () {
        $('#btn1').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/month_1' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
        $('#btn2').click(function(){
            $('#adIframe').empty();
            $('#adIframe').append("<p><iframe src='/month_2' style='width: 100%; height:600px; border:none'></iframe></p>");
        })
    })
</script>

<!--첫 시작 페이지-->
<!--이전에 상속받은 layout.html이 날아옴-->
{% extends 'layout.html' %} 
<!--교체영역1-->
{% block pageTitle %}
<div class=title>월별 여행지 추천서비스</div>
{% endblock %} 

{% block contents %}
<!-- 월선택 드롭박스 -->
<!-- <div class="dropdown dropright"> 
    <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown">
      MONTH
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">1월</a>
      <a class="dropdown-item" href="#">2월</a>
      <a class="dropdown-item" href="#">3월</a>
      <a class="dropdown-item" href="#">4월</a>
      <a class="dropdown-item" href="#">5월</a>
      <a class="dropdown-item" href="#">6월</a>
      <a class="dropdown-item" href="#">7월</a>
      <a class="dropdown-item" href="#">8월</a>
      <a class="dropdown-item" href="#">9월</a>
      <a class="dropdown-item" href="#">10월</a>
      <a class="dropdown-item" href="#">11월</a>
      <a class="dropdown-item" href="#">12월</a>
    </div>
  </div> -->

  <!-- 월선택 버튼 -->
  <button type="button" class="btn btn-outline-dark" id="btn1">1월</button>
  <button type="button" class="btn btn-outline-dark" id="btn2">2월</button>
  <button type="button" class="btn btn-outline-dark" id="btn3">3월</button>
  <button type="button" class="btn btn-outline-dark" id="btn4">4월</button>
  <button type="button" class="btn btn-outline-dark" id="btn5">5월</button>
  <button type="button" class="btn btn-outline-dark" id="btn6">6월</button>
  <button type="button" class="btn btn-outline-dark" id="btn7">7월</button>
  <button type="button" class="btn btn-outline-dark" id="btn8">8월</button>
  <button type="button" class="btn btn-outline-dark" id="btn9">9월</button>
  <button type="button" class="btn btn-outline-dark" id="btn10">10월</button>
  <button type="button" class="btn btn-outline-dark" id="btn11">11월</button>
  <button type="button" class="btn btn-outline-dark" id="btn12">12월</button>
  <hr>

 <!-- 월별 추천 iframe 위치 지정 -->
 <div id="adIframe"></div> 
  
{% endblock %}
